<div class="row">
  <div class="col-md-12 text-center">
    <h1>Club Documentation</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="feature feature-icon-large">
      <div class="pull-left">
        <i class="fa fa-newspaper-o"></i>
      </div>
      <div class="pull-right">
        <h5>Meeting Minutes</h5>
        <p>
          This year's minutes from our monthly meetings:
          <ul>
            <li><a href="assets/docs/minutes-2017-09-11.docx" target="_blank">Minutes for September</a></li>
          </ul>
        
      </div>
    </div>
  </div>
  
  <div class="col-sm-6">
    <div class="feature feature-icon-large">
      <div class="pull-left">
        <i class="fa fa-warning"></i>
      </div>
      <div class="pull-right">
        <h5>Code of Conduct</h5>
        <p>
          Your behaviour as a representative of Jankakot Lakes Junior Cricket Club is very important, please read the <a href="assets/docs/codeofconduct.png" target="_blank">Code of Conduct</a>
        </p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6">
    <div class="feature feature-icon-large">
      <div class="pull-left">
        <i class="fa fa-file-text-o"></i>
      </div>
      <div class="pull-right">
        <h5>Constitution</h5>
        <p>
          We are governed by our <a href="assets/docs/jljcc-constitution.docx" target="_blank">Club Constitution</a>, last updated in February 2017.
        </p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6">
    <div class="feature feature-icon-large">
      <div class="pull-left">
          <i class="fa fa-legal"></i>
      </div>
      <div class="pull-right">
        <h5>Disputes and Protests</h5>
        <p>
          Had an issue, on or off the field?  Our <a href="assets/docs/jljcc-complaints.docx" target="_blank">Disputes and Protests</a> policy will help you.
        </p>
      </div>
    </div>
  </div>
  
</div>