<div class="row">
  <div class="col-md-12 text-center">
    <h1>Club Documentation</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="feature feature-icon-large">
      <div class="pull-left">
        <i class="fa fa-newspaper-o"></i>
      </div>
      <div class="pull-right">
        <h5>Meeting Minutes</h5>
        <p>
          Minutes from our recent committee meetings and AGM:
          <ul>
            <li><a href="assets/docs/minutes-2019-08.docx" target="_blank">Minutes for August 2019</a></li>
            <li><a href="assets/docs/minutes-2019-07.docx" target="_blank">Minutes for July 2019</a></li>
            <li><a href="assets/docs/minutes-2019-06.docx" target="_blank">Minutes for June 2019</a></li>
            <li><a href="assets/docs/minutes-agm-2019.docx" target="_blank">Minutes for 2019 AGM</a></li>
            <li><a href="assets/docs/minutes-2019-04.docx" target="_blank">Minutes for April 2019</a></li>
            <li><a href="assets/docs/minutes-2019-03.docx" target="_blank">Minutes for March 2019</a></li>
            <li><a href="assets/docs/minutes-2019-02.docx" target="_blank">Minutes for February 2019</a></li>
            <li><a href="assets/docs/minutes-2019-01.docx" target="_blank">Minutes for January 2019</a></li>
            <li><a href="assets/docs/minutes-2018-12.docx" target="_blank">Minutes for December 2018</a></li>
            <li><a href="assets/docs/minutes-2018-11.docx" target="_blank">Minutes for November 2018</a></li>
            <li><a href="assets/docs/minutes-2018-10.docx" target="_blank">Minutes for October 2018</a></li>
            <li><a href="assets/docs/minutes-2018-09.docx" target="_blank">Minutes for September 2018</a></li>
            <li><a href="assets/docs/minutes-2018-08.docx" target="_blank">Minutes for August 2018</a></li>
            <li><a href="assets/docs/minutes-2018-07.docx" target="_blank">Minutes for July 2018</a></li>
            <li><a href="assets/docs/minutes-2018-06.docx" target="_blank">Minutes for June 2018</a></li>
            <li><a href="assets/docs/minutes-agm-2018.docx" target="_blank">Minutes for 2018 AGM</a></li>
            <li><a href="assets/docs/minutes-2017-11.docx" target="_blank">Minutes for November 2017</a></li>
            <li><a href="assets/docs/minutes-2017-10.docx" target="_blank">Minutes for October 2017</a></li>
            <li><a href="assets/docs/minutes-2017-09.docx" target="_blank">Minutes for September 2017</a></li>
          </ul>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6">
    <div class="feature feature-icon-large">
      <div class="pull-left">
          <i class="fa fa-newspaper-o"></i>
        </div>
      <div class="pull-right">
        <h5>Rules and other documents</h5>
        <p>
          Below are the rules and other documents to help on game day
        </p>
        <p>
            <a href="SWMJCC_ Laws_Summary_ for_scorers_2017-18_without-10s-11s.pdf" target="_blank">Law summary for U12s-17s</a><BR>
            <a href="assets/docs/SWMJCC_Junior_umpire_assessment_2017_18_V2.pdf" target="_blank">Junior umpire assessment form</a><BR>
            <a href="assets/docs/SWMJCC_junior_umpire_payment_2017_18_v3" target="_blank">Junior umpire payment form</a><BR>
            <a href="assets/docs/No_go_zones.pdf" target="_blank">No-go zones of the field</a><BR>
            <a href="assets/docs/JLT_Game_Day_Checklist.pdf" target="_blank">JLT Game Day Checklist</a>
        </p>
      </div>
    </div>
  </div>

</div>
<div class="row">
  
  <div class="col-sm-6">
    <div class="feature feature-icon-large">
      <div class="pull-left">
        <i class="fa fa-file-text-o"></i>
      </div>
      <div class="pull-right">
        <h5>Constitution</h5>
        <p>
          We are governed by our <a href="assets/docs/jljcc-constitution.docx" target="_blank">Club Constitution</a>, last updated in February 2017.
        </p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6">
    <div class="feature feature-icon-large">
      <div class="pull-left">
          <i class="fa fa-legal"></i>
      </div>
      <div class="pull-right">
        <h5>Disputes and Protests</h5>
        <p>
          Had an issue, on or off the field?  Our <a href="assets/docs/jljcc-complaints.docx" target="_blank">Disputes and Protests</a> policy will help you.
        </p>
      </div>
    </div>
  </div>
  
</div>

<div class="row">
    <div class="feature feature-icon-large">
        <div class="pull-left">
          <i class="fa fa-warning"></i>
        </div>
        <div class="pull-right">
          <h5>Code of Conduct</h5>
          <p>
            Your behaviour as a representative of Jankakot Lakes Junior Cricket Club is very important, please read the <a href="assets/docs/codeofconduct.png" target="_blank">Code of Conduct</a>
          </p>
        </div>
      </div>
  </div>
